<h1 mat-dialog-title>Visualize data</h1>

<div mat-dialog-content>
  <div style="display: block;">
    <ng-container *ngIf="isLoading; then loading else chart"></ng-container>
    <ng-template #loading>
      <div class="loading">
        Loading...
      </div>
    </ng-template>
    <ng-template #chart>
      <canvas baseChart width="400" height="400"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
      </canvas>
    </ng-template>
  </div>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>

</div>
