:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  flex: 1;

  margin-left: 5rem;

  overflow: hidden;

  transition: transform 500ms ease-in-out;
}

//.content.chat {
//  transform: translateY(-100%);
//}

.content.chat .page {
  --offset: -100%
}

.page {
  position: absolute;
  inset: 0;
  transform: translateY(calc(var(--initial-translate) + var(--offset, 0%)));
  transition: transform 500ms ease-in-out;
  //width: 100%;
  //height: 100%;
}

.page:first-of-type {
  --initial-translate: 0%;
}

.page:last-of-type {
  --initial-translate: 100%;
}


h2 {
  margin-left: 2.5em;
}

h2:not(:first-of-type) {
  margin-top: 2em;
}
