<h1 mat-dialog-title>Edit Address</h1>

<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput type="text"
               name="id" formControlName="id">
        <mat-error *ngIf="
        checkValid('id')">field required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" formControlName="name"/>
        <mat-error *ngIf="
        checkValid('name')">field required
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary"
          [disabled]="formInstance.dirty && !!formInstance.errors" (click)="save()"
          cdkFocusInitial>Yes
  </button>
  <button mat-raised-button mat-dialog-close>No</button>

</div>
