*, *::before, *::after {
  //margin: 0;
  //padding: 0;
  box-sizing: border-box;
}

html, body { width: 100%; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
  border: none;
  background: transparent;

  border-radius: .2em;
  outline: 1px solid var(--clr, purple);

  display: flex;
  align-items: center;
  gap: .2em;

  padding: .5em;

  color: var(--clr, purple);

  cursor: pointer;

  transition: all 300ms ease-in-out;
}

.btn:hover {
  color: white;
  background: var(--clr, purple);
}

body.swal2-shown.swal2-height-auto {
  height: 100% !important;
}
